*{
    padding: 0;
    margin: 0;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align:right ;
}
.container{
    max-width: 800px;
    margin: auto;
}
.main-contant{
    width: 1024px;
    margin: auto;
}
img{
    width: 100%;
}
/* header section */
.header-section{
    background: #000;
}

.logo{
    width: 30%;
    
}
.logo a{
    text-decoration: none;
}
.logo a img {
	width: 30%;
	margin-top: 12px;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	color: #fff;
	font-size: 22px;
	line-height: 39px;
}
/* drop down menu */

.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.452);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.menu ul li ul li{
    display: block;
    border-bottom: 1px solid #ddd;
}
.menu ul li ul li a{
    display: block;
    color: #fff;
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* banner-section */
.banner-section{
    background-image: url(./bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0 120px 0;
    background-blend-mode:screen;
}
.banner-section h1{
    font-size: 50px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}
.banner-section p{
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
}
.buttonn{
    margin-top: 20px;
}
.buttonn a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background: #000;
    padding: 15px 30px;
    display: inline-block;
}
/* contact-section */

.contact-section{
    padding: 70px 0;
    background: #444444;
}
.left-contant{
    width: 70%;
}
.left-contant h4 {
	color: #fff;
	font-size: 35px;
	padding: 20px;
	line-height: 45px;
	margin-top: 45px;
    font-weight: 400;
}
.right-img{
    width: 30%;
}
.right-img img {
	width: 100%;
	margin-top: 50px;
}
/* team-section */
.team-section{
    background: #458b83;
    padding: 60px 0;
}
.team-section h1 {
	color: #fff;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 600;
}

.tema-member{
    width: 31%;
}
.guterr{
    margin: 0 28px;
}
.tema-member ul{ 
    text-align: center;
    margin-top: 15px;
}
.tema-member ul li{
    display: inline-block;
 }
.tema-member ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 8px;
 
 }
 .tema-member ul li a i{
     color: #fff;
     height: 35px;
     width: 35px;
     line-height: 35px;
     background: #000;
     border-radius: 50%;
 }